name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: run_tests
      run: make test
    - name: install_valgrind
      run: sudo apt install valgrind
    - name: run_leaks_check
      run: make test-leaks
